<!DOCTYPE HTML>
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <title>Chat</title> 
  <meta name="description" content="Chat" />
  <meta name="author" content="Alex Clink" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
  <ul id="chat"></ul>
  <form id="chatBox" onsubmit="sendMessage(document.getElementById('msgbox').value); return false;">
    <textarea id="msgbox" autofocus autocomplete="off"></textarea>
    <!-- <input type="submit" value="Send" id="sendbtn"> -->
  </form>
  <script src="script.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
